<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>Location updates, {{locations.length}} so far</ion-list-header>
    <ion-item *ngFor="let item of locations">
      <ion-label>
        <p>Plugin time: {{item.pluginTime | date: 'M/d/yy, h:mm:ss a'}}</p>
        <p>Inapp receive time: {{item.appTime | date: 'M/d/yy, h:mm:ss a'}}</p>
        <p>Lat: {{item.latitude}}, Long: {{item.longitude}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Messages, {{messages.length}} so far</ion-list-header>
    <ion-item *ngFor="let msg of messages">
      <ion-label>
        <p>Plugin time: {{msg.pluginTime | date: 'M/d/yy, h:mm:ss a'}}</p>
        <p>Inapp receive time: {{msg.appTime | date: 'M/d/yy, h:mm:ss a'}}</p>
        <p>Msg: {{msg.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
