<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>Location updates, {{locations.length}} so far</ion-list-header>
    <ion-item *ngFor="let item of locations">
      <span>Time: {{item.time}}, Lat: {{item.latitude}}, Long: {{item.longitude}}</span>
    </ion-item>
  </ion-list>
</ion-content>
