<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="geolocation-list">
          <ion-list-header>Geolocation</ion-list-header>
          <ion-note>Geolocation POC</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header>Settings</ion-list-header>
          <ion-item>
            <ion-label>Háttérfuttatás {{setBg ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setBg" checked (ionChange)="onBgModeSettingUpdated($event)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Háttérlokáció {{setBgGeoLoc ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setBgGeoLoc" checked (ionChange)="onBgGeoLocSettingsUpdated($event)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>POST {{setPOST ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setPOST" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Képernyő ébrentartás {{setWakelock ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setWakelock" checked (ionChange)="onWakelockSettingsUpdated($event)"></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Lokáció Logolás {{setGeoLog ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setGeoLog" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Logolás {{setLog ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setLog" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Egyéb Logolás {{setMiscLog ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setMiscLog" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Hiba Logolás {{setErrorLog ? '(On)' : '(Off)'}}</ion-label>
            <ion-toggle color="primary" [(ngModel)]="setErrorLog" checked></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
